.quantity-section {
  width: 120px;
  border: 1px solid $secondary;
}

.increment-decrement-btn {
  font-size: 18px;
  color: white;
  border: none;
  background: transparent;
}

.empty-cart-icon {
  width: 100px;
  height: 100px;
  opacity: 0.25;
  border-radius: 10px;
  border: 7px solid #bbbcd1;
  display: inline-block;
}
.proceed-btn {
  border: 1px solid $primary !important;
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: $primary;
  color: white;
  &:hover {
    background-color: #33333380 !important;
    font-weight: 500;
  }
}
.proceed-btn-disabled {
  border: 1px solid $primary !important;
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #33333380 !important;
  font-weight: 500;
  color: white;
}
