.text-form {
  position: relative;
}
.error {
  position: absolute;
  color: red !important;
  font-size: 0.8rem;
}
.password {
  .eye-icon {
    position: absolute;
    top: 560px;
    right: 533px;
    cursor: pointer;
    z-index: 1000;
  }
}
@media screen and (max-width: 600px) {
  .password {
    .eye-icon {
      top: 560px;
      right: 90px;
    }
  }
}
