.top-search-box {
  width: 500px;

  .search-box {
    &:focus {
      overflow: hidden !important;
    }
    &::placeholder {
      font-size: 14px;
    }
  }
}
.search-btn {
  &:focus {
    overflow: hidden !important;
  }
}
input[type="search"] {
  font-size: 14px;
}
.dashboard-btn {
  background: transparent !important;
  color: black !important;
  border: none !important;
  padding: 0 !important;
  &:hover {
    border: none !important;
  }
  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
.dashboard-btn-item {
  font-size: 12 !important;
  font-weight: 700;
}
.topbar-link {
  text-decoration: none;
  color: #212529;
}
.dropdown-toggle:after {
  border-top: none !important;
}
.profile {
  text-align: center;
  img {
    height: 30px;
    border-radius: 100%;
    border: 1px solid #2e344e;
  }
}
// .cart-icon {
//   position: absolute;
// }
// #span {
//   position: absolute;
//   top: 15%;
//   left: 51%;
//   font-size: 12px;
//   color: black;
//   translate: transform(-50%, -50%);
// }
.search-btn {
  background: transparent !important;
  color: $primary;
  &:hover {
    background-color: #f16622 !important;
    border: 1px solid #f16622;
  }
}
@media screen and (max-width: 600px) {
  .top-search-box {
    width: 350px;
  }
}
