@import "./variables";
.service-slider {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-button-next {
    background-image: url("../media/arrow\ right.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    right: 0 !important;
  }
  .swiper-button-next::after {
    display: none !important;
  }
  .swiper-button-prev {
    background-image: url("../media/arrow\ left.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    left: 0px !important;

    // margin-right: 200px !important;
    // padding-right: 60px !important;
  }

  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-disabled {
    display: none !important;
  }
}

.trending-slider {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 92%;

  /* make room for arrows */
  padding-left: 2em;
  padding-right: 2em;

  .swiper-container {
    margin-top: 2em; /* minor cosmetic */
  }
  .swiper {
    margin-bottom: 3em;

    /* just enough width so slides handing off screen are partially visible */
    width: 73.8%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-button-next {
    background-image: url("../media/arrow\ right.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    right: 0;
    top: 0;

    margin-top: 0;
    height: calc(100% - 3em);
  }
  .swiper-button-next::after {
    display: none !important;
  }
  .swiper-button-prev {
    position: absolute;
    background-image: url("../media/arrow\ left.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    right: 0;
    top: 0;

    margin-top: 0;
    height: calc(100% - 3em);
    // padding-right: 60px !important;
  }

  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-disabled {
    display: none !important;
  }
}
