* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //font-size: 14px;
}
@import "./footer";
@import "./variables";
@import "./header";
@import "./forms";
@import "./homes";
@import "./services";
@import "./all-service";
@import "./checkout";
@import "./orders";
@import "./image-uploader";

.text-brand-primary {
  color: $primary;
}

.link {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: $primary;
    font-weight: 700;
  }
}

.details {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
      center center / cover no-repeat,
    url("../media/1619427700_acservicing.jpg"), url("../media//55541bd.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-btn {
  border: none !important;
  background: transparent;
  position: relative;
  height: 60px;
  width: 60px;
  top: 40%;
}
.primary-btn {
  border: 1px solid $primary !important;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 5px;
  &:hover {
    background-color: $primary !important;
    color: white;
    font-weight: 500;
  }
}
.secondary-btn {
  border: 1px solid $primary !important;
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: $secondary;
  color: white;
  &:hover {
    background-color: $primary !important;
    font-weight: 500;
  }
}
.info-section {
  background-color: rgba(47, 185, 197, 0.1);
  border-left: 5px solid rgb(47, 185, 197);
  border-radius: 5px;
}
.view-details-btn {
  border: none;
  background: transparent !important;
  font-size: 10px;
  padding-top: 0;
  margin-top: 0;
}
.add-promo-btn-2 {
  border: 1px solid $primary !important;
  padding: 8px 5px;
  font-weight: 700;
  border-radius: 5px;
  font-size: 12px;
  &:hover {
    background-color: $primary !important;
    color: white;
    font-weight: 500;
  }
}
.change-btn {
  border: none;
  font-size: 14px;
  background: transparent;
  color: #b13643;
  font-weight: 700;
}
.bread {
  --bs-breadcrumb-divider: ".";
  --bs-breadcrumb-divider-color: red !important;
}

.profile-image {
  //text-align: center;
  margin-left: 90px;
  img {
    height: 120px;
    border-radius: 100%;
    border: 1px solid #2e344e;
  }
}
.canvas-footer {
  position: fixed;
  bottom: 0;
}
.cursor {
  cursor: pointer;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  background: orange;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}
