* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //font-size: 14px;
}
@import "./footer";
@import "./variables";
@import "./header";
@import "./forms";
@import "./homes";
@import "./services";
.text-brand-primary {
  color: $primary;
}

.link {
  text-decoration: none;
  color: $primary;
}

.details {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
      center center / cover no-repeat,
    url("../media/1619427700_acservicing.jpg"), url("../media//55541bd.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.category-card {
  //margin: 100px 100px;
  //margin-left: 100px;
}

.modal-btn {
  border: none !important;
  background: transparent;
  position: relative;
  height: 60px;
  width: 60px;
  top: 40%;
}
