* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // max-width: 1280px;
  //font-size: 14px;
}
@import "./footer";
@import "./variables";
@import "./header";
@import "./forms";
@import "./homes";
@import "./services";
@import "./all-service";
@import "./checkout";
@import "./orders";
@import "./image-uploader";
@import "./cart";
@import "node_modules/react-modal-video/scss/modal-video.scss";

.text-brand-primary {
  color: $primary;
}

.link {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: $primary;
    font-weight: 700;
  }
}

.details {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
      center center / cover no-repeat,
    url("../media/1619427700_acservicing.jpg"), url("../media//55541bd.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-btn {
  border: none !important;
  background: transparent;
  position: relative;
  height: 60px;
  width: 60px;
  top: 40%;
}
.primary-btn {
  border: 1px solid $primary !important;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 5px;
  &:hover {
    background-color: $primary !important;
    color: white;
    font-weight: 500;
  }
}
.secondary-btn {
  border: 1px solid $primary !important;
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: $secondary;
  color: white;
  &:hover {
    background-color: $primary !important;
    font-weight: 500;
  }
}

.info-section {
  background-color: rgba(47, 185, 197, 0.1);
  border-left: 5px solid rgb(47, 185, 197);
  border-radius: 5px;
}
.view-details-btn {
  border: none;
  background: transparent !important;
  font-size: 10px;
  padding-top: 0;
  margin-top: 0;
}
.add-promo-btn-2 {
  border: 1px solid $primary !important;
  padding: 8px 5px;
  font-weight: 700;
  border-radius: 5px;
  font-size: 12px;
  &:hover {
    background-color: $primary !important;
    color: white;
    font-weight: 500;
  }
}
.change-btn {
  border: none;
  font-size: 14px;
  background: transparent;
  color: #b13643;
  font-weight: 700;
}
.bread {
  --bs-breadcrumb-divider: ".";
  --bs-breadcrumb-divider-color: red !important;
}

.profile-image {
  //text-align: center;
  margin-left: 90px;
  img {
    height: 120px;
    border-radius: 100%;
    border: 1px solid #2e344e;
  }
}
.canvas-footer {
  position: fixed;
  bottom: 0;
}
.cursor {
  cursor: pointer;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none !important;
  background: transparent !important;
}

.small {
  font-size: 12px;
}
.time-button {
  border: 1.2px solid rgba(0, 0, 0, 0.1);
  padding: 5px 30px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  background: transparent !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1) !important ;
    border: 1px solid $secondary !important;
  }
}
.active-time-btn {
  background-color: $primary !important ;
  color: white;
  font-weight: 500;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1) !important ;
    color: black !important;
    font-weight: 700;
  }
}
.Modal {
  background-color: white;
  min-height: 80vh;
  width: 1000px !important;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  content: {
    left: 50%;
    right: auto;
    bottom: auto;
    min-height: 500px;
    transform: translate(-50%, -50%);
    overflow: visible;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1000;
}
.close-btn {
  position: absolute;
  top: 23px;
  right: 147px;
  border: none;
  background: transparent;
  z-index: 10001 !important;
}

@media screen and (max-width: 600px) {
  .Modal {
    background-color: white;
    width: 400px !important;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    content: {
      left: 50%;
      right: auto;
      bottom: auto;
      min-height: 500px;
      transform: translate(-50%, -50%);

      padding: 0;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1000;
  }
  .close-btn {
    position: absolute;
    top: 23px;
    right: 20px;
    border: none;
    background: transparent;
    z-index: 10001 !important;
  }
}
