* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  background-color: #333333;
}

.social-icons {
  border: 1px solid #a5b7d9;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 16px;
  padding-top: 7px;
  background-color: #1e2f50;
  color: #a5b7d9 !important;
}

.social-icons:hover {
  cursor: pointer;
  color: white;
}

.footerOnFocus a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.footerOnFocus a:hover {
  font-weight: 700;
  color: white;
}

.address {
  color: white;
  font-size: 14px;
}

.address-icon {
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 600px) {
  .footerOnFocus,
  .address {
    text-align: center;
  }
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .address-icon {
    display: none;
  }
  .footer-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-title {
    margin-top: 30px;
    text-align: center;
  }
}

.top-search-box {
  width: 500px;
}

.top-search-box .search-box:focus {
  overflow: hidden !important;
}

.top-search-box .search-box::-webkit-input-placeholder {
  font-size: 14px;
}

.top-search-box .search-box:-ms-input-placeholder {
  font-size: 14px;
}

.top-search-box .search-box::-ms-input-placeholder {
  font-size: 14px;
}

.top-search-box .search-box::placeholder {
  font-size: 14px;
}

.search-btn:focus {
  overflow: hidden !important;
}

input[type="search"] {
  font-size: 14px;
}

.dashboard-btn {
  background: transparent !important;
  color: black !important;
  border: none !important;
  padding: 0 !important;
}

.dashboard-btn:hover {
  border: none !important;
}

.dashboard-btn:focus {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dashboard-btn-item {
  font-size: 12 !important;
  font-weight: 700;
}

.topbar-link {
  text-decoration: none;
  color: #212529;
}

.top-menu-container .dropdown-toggle:after {
  border-top: none !important;
}

.top-menu-container .profile {
  text-align: center;
}

.top-menu-container .profile img {
  height: 30px;
  border-radius: 100%;
  border: 1px solid #2e344e;
}

.search-btn {
  background: transparent !important;
  color: #333333;
}

.search-btn:hover {
  background-color: #f16622 !important;
  border: 1px solid #f16622;
}

@media screen and (max-width: 600px) {
  .top-search-box {
    width: 350px;
  }
  .header {
    position: relative !important;
  }
}

.header {
  width: 100%;
  height: 56px;
  background-color: #2874f0;
}

.menuHeader .dropdown.show .dropdown-menu {
  opacity: 1 !important;
}

.menuHeader .dropdown-toggle:after {
  border-top: none !important;
}

.text-form {
  position: relative;
}

.error {
  position: absolute;
  color: red !important;
  font-size: 0.8rem;
}

.password .eye-icon {
  position: absolute;
  top: 495px;
  right: 520px;
  cursor: pointer;
  z-index: 1000;
}

.choose-section {
  background-color: #fafbfc;
}

.service-number {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #23a999 1%, #00a1ba 52%, #006597);
  vertical-align: center;
  font-size: 24px;
  font-weight: 500;
  color: white;
  line-height: 50px;
}

.dash {
  position: relative;
}

.dash::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 30px;
}

.app-section .app-button {
  background-color: #333333 !important;
  border: none;
}

.app-section .app-button:hover {
  background-color: #f16622 !important;
}

.app-form::-webkit-input-placeholder {
  font-size: 12px !important;
  padding-left: 20px;
}

.app-form:-ms-input-placeholder {
  font-size: 12px !important;
  padding-left: 20px;
}

.app-form::-ms-input-placeholder {
  font-size: 12px !important;
  padding-left: 20px;
}

.app-form::placeholder {
  font-size: 12px !important;
  padding-left: 20px;
}

.bg-brand-primary {
  background: #333333;
}

.request-btn {
  background-color: #333333 !important;
  border: none;
  padding: 10px 30px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
}

.request-btn:hover {
  background-color: #f16622 !important;
}

.call-btn {
  border: 1px solid #333333 !important;
  padding: 9px 30px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
}

.call-btn:hover {
  background-color: #333333 !important;
  color: white;
  font-weight: 500;
}

.service-img {
  margin-top: -100px;
}

.modal-form {
  margin: 20px 150px;
  font-size: 14px;
}

.modal-form .modal-input::-webkit-input-placeholder {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 15px !important;
}

.modal-form .modal-input:-ms-input-placeholder {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 15px !important;
}

.modal-form .modal-input::-ms-input-placeholder {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 15px !important;
}

.modal-form .modal-input::placeholder {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 15px !important;
}

.modal-header {
  margin-left: 120px;
  font-size: 24px;
  font-weight: 700;
  border: none !important;
}

.service-cart {
  width: 250px;
  cursor: pointer;
}

.service-cart .cart-image {
  height: 130px;
  width: 100%;
  border-radius: 10px;
}

.trending-slider .slick-prev::before {
  content: url("../media/arrow left.svg");
  margin-right: 50px !important;
}

.trending-slider .slick-prev-disabled {
  display: none !important;
}

.trending-slider .slick-next::before {
  content: url("../media/arrow right.svg");
}

.trending-slider .trending-image {
  max-height: 180px;
  max-width: 250px;
  border-radius: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trending-slider .slick-disabled {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .service-img {
    margin-top: 0px;
  }
  .modal-form {
    margin: 20px 20px;
  }
  .trending-image {
    height: 50px;
    width: 60px;
    border-radius: 2px !important;
  }
}

.services {
  border-right: 2px solid #333333;
}

.services ul li {
  padding-bottom: 15px;
}

.services ul a {
  text-decoration: none;
  color: #333333;
}

.details-form {
  margin-top: 50px;
  background-image: linear-gradient(137deg, #23a999 1%, #00a1ba 52%, #006597);
  padding: 30px 40px;
  color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 0 #23a999, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 #23a999, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab-container .active-toggle-btn {
  color: #333333 !important;
}

.tab-container .nav-pills .nav-link.active {
  color: #333333 !important;
  background: none !important;
  font-weight: 700;
}

.tab-container .tab-links {
  color: #f16622 !important;
  cursor: pointer;
  font-size: 16px;
}

.have-questions-section {
  margin: 50px 0;
  background-image: linear-gradient(137deg, #23a999 1%, #00a1ba 52%, #006597);
  padding: 30px 40px;
  color: white;
  border-radius: 20px;
}

.review-btn {
  background-color: #333333 !important;
  border: none;
  padding: 8px 20px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  border-radius: 10px;
}

.review-btn:hover {
  background-color: #f16622 !important;
}

.review-all-btn {
  border: none !important;
  background: transparent;
  font-size: 12px;
  font-weight: 700;
  margin-left: 80px;
  margin-bottom: 80px;
}

.rating {
  width: 180 px;
  position: relative;
  height: 15 px;
  transition: width 2s;
  -webkit-transition: width 2s;
  background: #f0f0f0;
  margin-bottom: 10 px;
}

.Skills .skills-containers .skill-bar .skill-text {
  font-size: 14px;
  font-weight: bold;
}

.Skills .skills-containers .skill-bar .skill-progress {
  width: 80%;
}

.Skills .skills-containers .skill-bar .skill-progress .progress {
  width: 80%;
  height: 15px;
  margin-left: 1rem;
  background-color: #f0f0f0;
  position: relative;
  margin-top: 3px;
}

.Skills .skills-containers .skill-bar .skill-progress .progress .inner-progress {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
}

.all-service-category {
  list-style: none;
  border-right: 1px solid gray;
}

.all-service-category .service-list {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9) !important;
}

.all-service-category .service-list a {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 14px;
  color: black !important;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.is-active {
  background: #f4f5f8;
  font-weight: 700 !important;
  border-right: 3px solid green;
}

.currentClassName {
  background: #f4f5f8;
  font-weight: 700 !important;
  border-right: 3px solid green;
}

.sub-category-image {
  max-height: 150px;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-category-list {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-category-list .sub-category-list-icon {
  margin-top: 4px;
  font-size: 12px;
  color: #343a40;
  vertical-align: center;
}

.sub-category-list .sub-category-list-icon:hover {
  font-weight: 700;
  font-size: 15px;
}

.sub-category-list .sub-category-list-name {
  margin-left: 5px;
  cursor: pointer;
}

.sub-category-list .sub-category-list-name:hover {
  font-weight: 700;
  font-size: 15px;
}

.sub-category-list .sub-category-list-name:hover .sub-category-list-icon {
  font-weight: 700 !important;
  font-size: 15px !important;
}

.checkout-container {
  font-size: 14px;
}

.checkout-container .checkout {
  border-radius: 10px;
}

.checkout-container .checkout-address-container {
  border: 1px solid #b13643;
  margin-top: 30px;
  border-radius: 10px;
}

.checkout-container .add-promo-btn {
  border: 1px solid #333333 !important;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 5px;
}

.checkout-container .add-promo-btn:hover {
  background-color: #333333 !important;
  color: white;
  font-weight: 500;
}

.checkout-container .place-order-button {
  border: 1px solid #333333 !important;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
}

.checkout-container .place-order-button:hover {
  background-color: #333333 !important;
  color: white;
  font-weight: 500;
}

.checkout-container .error-section {
  background-color: rgba(177, 54, 67, 0.1);
  border-left: 5px solid #b13643;
  border-radius: 5px;
}

.order-search-box-container:hover {
  border: 1px solid black !important;
}

.order-search-box-container .search-order {
  border: none !important;
}

.order-search-box-container .order-search-box-icon {
  font-size: 13px;
  cursor: pointer;
}

.order-search-box-container .order-search-box-icon:hover {
  color: #f16622;
}

.order-select-form {
  width: 230px;
}

.order-select-form .form-select,
.order-select-form .form-select > option {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8) !important;
}

.borderless {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-bottom-style: none !important;
}

.order-details-tab-container .active-toggle-btn {
  color: #333333 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.order-details-tab-container .nav-pills .nav-link.active {
  color: #333333 !important;
  background: none !important;
  font-weight: 700;
  border-bottom: 5px solid #00a1ba;
  border-radius: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.order-details-tab-container .tab-links {
  color: #333333 !important;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.faq-btn {
  border: none !important;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
}

.span-plus-minus {
  background: #c71f66;
  border-radius: 50%;
  padding: 0px 4px;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.service-order-container {
  border-right: 1px solid gray;
  padding-right: 0px !important;
}

.service-order-container .service-order-title {
  width: 100%;
  padding: 10px;
  background-color: #f4f5f8;
  border-right: 5px solid #00a1ba;
  cursor: pointer;
}

.upload__image-wrapper {
  height: 120px;
  width: 120px;
}

.upload__image-wrapper .upload-box {
  height: 120px;
  width: 120px;
}

.upload__image-wrapper .image-item {
  position: absolute;
}

.upload__image-wrapper .image-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.upload__image-wrapper .image-item .remove-upload {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.text-brand-primary {
  color: #333333;
}

.link {
  text-decoration: none;
  color: #333333;
}

.link:hover {
  color: #333333;
  font-weight: 700;
}

.details {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))) center center/cover no-repeat, url("../media/1619427700_acservicing.jpg"), url("../media//55541bd.png");
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center center/cover no-repeat, url("../media/1619427700_acservicing.jpg"), url("../media//55541bd.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-btn {
  border: none !important;
  background: transparent;
  position: relative;
  height: 60px;
  width: 60px;
  top: 40%;
}

.primary-btn {
  border: 1px solid #333333 !important;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 5px;
}

.primary-btn:hover {
  background-color: #333333 !important;
  color: white;
  font-weight: 500;
}

.secondary-btn {
  border: 1px solid #333333 !important;
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #f16622;
  color: white;
}

.secondary-btn:hover {
  background-color: #333333 !important;
  font-weight: 500;
}

.info-section {
  background-color: rgba(47, 185, 197, 0.1);
  border-left: 5px solid #2fb9c5;
  border-radius: 5px;
}

.view-details-btn {
  border: none;
  background: transparent !important;
  font-size: 10px;
  padding-top: 0;
  margin-top: 0;
}

.add-promo-btn-2 {
  border: 1px solid #333333 !important;
  padding: 8px 5px;
  font-weight: 700;
  border-radius: 5px;
  font-size: 12px;
}

.add-promo-btn-2:hover {
  background-color: #333333 !important;
  color: white;
  font-weight: 500;
}

.change-btn {
  border: none;
  font-size: 14px;
  background: transparent;
  color: #b13643;
  font-weight: 700;
}

.bread {
  --bs-breadcrumb-divider: ".";
  --bs-breadcrumb-divider-color: red !important;
}

.profile-image {
  margin-left: 90px;
}

.profile-image img {
  height: 120px;
  border-radius: 100%;
  border: 1px solid #2e344e;
}

.canvas-footer {
  position: fixed;
  bottom: 0;
}

.cursor {
  cursor: pointer;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  background: orange;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 0 5px 10px #ccc;
          box-shadow: 0 5px 10px #ccc;
}
/*# sourceMappingURL=style.css.map */